<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <meta name="application-name" content="speakEZ - A way to easily embed your voice across the internet.">
    <meta name="author" content="Domenico Martinelli">

	<link href="/stylesheets/milligram.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">

    <title>speakEZ - A way to easily embed your voice across the internet.</title>

</head>

<body>

    <main class="wrapper">
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title" href="/">
                    <img class="img" src="/images/logo.png" alt="Logo" width="25" height="25">

                    <h1 class="title">speakEZ</h1>
                </a>

                <ul class="navigation-list float-right">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#popover-grid" data-popover="">Register</a>
                        <div class="popover" id="popover-grid">

                            <ul class="popover-list">

                                <li class="popover-item">
                                    <a class="popover-link" href="/registration" title="Blog">Create an account</a>
                                </li>

                            </ul>
                        </div>
                    </li>
      
      <li class="navigation-item">
        <a class="navigation-link" href="#popover-support" data-popover="">Contact</a>
        <div class="popover" id="popover-support">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" target="blank" href="https://github.com/DomMartinelli" title="On Github">On Github</a>
              </li>
          
                
              <li class="popover-item">
                <a class="popover-link" target="blank" href="https://opensource.org/licenses/MIT" title="License">License</a>
                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
</section>
          </nav>

                <section class="container" id="login_container">
                    <div class="login">
                        <h2>Login</h2>
                        <h6 style="color:red;"> <%=error%></h6>
                        <ul class="loginList">

                            <form action="/login" id="login-account" method="post" name="login-account">

                                <li class="login_item">

                                    <div class="control-group">

                                        <input name="username" class="userinput" id="username" placeholder="Username" maxlength="12" type="text" required="required" value="" />

                                    </div>


                                    <div class="control-group">
                                      
                                      <input autocomplete="off" class="password-input showGuidelines" id="password" maxlength="16"
									name="password" placeholder="Password" required="true" spellcheck="false" type="password" value="">

                                      
                                      
                                    </div>
                                    
                                    <button class="button" id="creation-submit-button" type="submit">
                            <span class="button-text">Login</span>
                                </li>

                        </ul>

                        

                            </form>
                    </div>
                </section>

                <footer class="footer">
                    <section class="container">
                        <div class="share">
                            <ul class="share-list">

                                <li class="share-item">
                                    <a class="share-dialog" href="https://github.com/brindidrip" title="Github" target="_blank" rel="noopener">
                                        <svg class="share-icon share-icon-github" version="1.1" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M178,507c-0.333,0-0.667,0-1,0c-37.197-11.254-69.418-30.792-97.304-57.811c-31.738-30.75-54.823-66.874-68.126-109.021c-5.314-16.835-9.474-34.025-9.561-51.888c-0.007-1.35-0.519-2.614-0.495-3.959c-0.002-2.201-0.002-4.397-0.001-6.596c0-2.618-0.002-5.232,0-7.848c0-3.574-0.002-7.146,0-10.718c0.001-2.938-0.001-5.877,0-8.814c0.001-2.516-0.001-5.035,0-7.549c0.405-15.378,3.08-30.424,6.95-45.263c7.945-30.459,21.418-58.304,39.61-83.97c23.971-33.82,54.745-59.82,91.216-79.061c26.746-14.111,55.372-22.696,85.419-26.402c1.488-0.184,2.994-0.08,4.494-0.096c2.138-0.041,4.294,0.181,6.388-0.47c2.543-0.044,5.083-0.012,7.625-0.021c3.516,0,7.03-0.002,10.545,0c1.767,0,3.534-0.001,5.301,0c2.928,0,5.857-0.002,8.784,0c3.134,0.007,6.269-0.015,9.401,0.012c2.108,0.595,4.273,0.475,6.426,0.479c15.803,0.283,31.037,4.101,46.024,8.456c32.011,9.303,60.946,24.79,87.131,45.426c27.729,21.854,49.547,48.613,66.435,79.534c15.021,27.502,24.334,56.808,28.406,87.843c0.586,4.47-0.17,8.991,0.82,13.422c0.002,2.516,0.003,5.027,0.001,7.541c0,2.935,0.002,5.866,0,8.799c0,3.274,0.002,6.547,0,9.819c-0.001,2.922,0.001,5.845,0,8.766c-0.003,2.488,0.005,4.979-0.004,7.465c-0.509,10.144-1.81,20.157-3.758,30.161c-7.916,40.647-25.694,76.576-51.397,108.742c-21.682,27.134-47.514,49.385-78.322,65.704c-11.067,5.862-22.553,10.731-34.211,15.239c-2.66,1.029-5.462,1.423-8.303,1.567c-2.124,0-4.246,0.003-6.368,0c-5.958-0.214-8.878-3.923-10.379-9.149c-1.02-3.55-1.208-7.208-1.204-10.894c0.025-23.165,0.129-46.331-0.031-69.496c-0.094-13.566-3.89-25.928-13.059-36.328c-3.245-3.681-2.317-5.794,3.242-6.633c10.228-1.543,20.456-3.136,30.376-6.054c21.524-6.33,40.658-16.766,55.35-34.146c9.331-11.038,14.71-24.154,18.236-37.999c6.156-24.173,8.736-48.502,2.276-73.109c-3.398-12.945-9.112-24.727-17.877-34.826c-3.584-4.129-4.438-8.031-2.813-13.23c5.805-18.578,3.729-36.856-2.663-54.918c-1.298-3.669-3.418-5.354-7.361-5.294c-9.211,0.139-17.647,3.154-25.99,6.587c-11.286,4.644-21.963,10.46-32.133,17.179c-3.622,2.393-7.096,2.785-11.32,1.641c-14.193-3.846-28.71-5.495-43.392-6.525c-25.19-1.767-49.856,0.828-74.226,7.032c-3.022,0.769-5.559,0.14-8.029-1.526c-11.106-7.487-23-13.462-35.471-18.294c-7.932-3.073-15.913-5.93-24.603-6.097c-3.754-0.072-5.731,1.434-6.918,5.002c-6.254,18.798-8.286,37.712-1.973,56.904c1.285,3.908,0.529,7.056-2.103,10.142c-19.555,22.934-24.635,49.895-22.029,79.057c1.373,15.368,4.419,30.316,10.031,44.706c8.44,21.639,23.471,37.056,43.947,47.817c16.533,8.689,34.165,13.044,52.438,15.475c10.422,1.387,8.781,3.701,3.964,9.301c-5.423,6.305-8.372,14.033-9.749,22.187c-0.86,5.096-3.525,7.883-8.305,9.443c-10.619,3.467-21.52,5.039-32.536,3.678c-13.135-1.623-22.907-9.339-31.027-19.345c-4.518-5.567-7.401-12.347-12.469-17.473c-9.332-9.44-19.662-17.085-33.858-16.838c-1.334,0.023-2.671,0.053-3.961,0.448c-2.657,0.814-3.456,2.444-2.072,4.935c1.663,2.993,4.069,5.331,7.013,6.971c12.586,7.011,19.75,18.549,25.893,30.907c1.627,3.274,3.055,6.664,4.496,10.033c5.883,13.759,16.622,22.083,30.665,25.707c14.755,3.808,29.877,4.806,45.065,2.286c0.658-0.109,1.318-0.203,1.978-0.292c6.243-0.835,7.803,0.408,7.858,6.863c0.112,13.332,0.067,26.665,0.016,39.997c-0.004,1-0.059,2-0.208,2.99c-0.926,6.142-4.684,9.964-10.976,11.175C182.164,506.752,180.003,505.919,178,507z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li class="share-item">
                                    <a class="share-dialog" href="" title="Share Milligram on Facebook" target="_blank" rel="noopener">
                                        <svg class="share-icon share-icon-github" version="1.1" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M178,507c-0.333,0-0.667,0-1,0c-37.197-11.254-69.418-30.792-97.304-57.811c-31.738-30.75-54.823-66.874-68.126-109.021c-5.314-16.835-9.474-34.025-9.561-51.888c-0.007-1.35-0.519-2.614-0.495-3.959c-0.002-2.201-0.002-4.397-0.001-6.596c0-2.618-0.002-5.232,0-7.848c0-3.574-0.002-7.146,0-10.718c0.001-2.938-0.001-5.877,0-8.814c0.001-2.516-0.001-5.035,0-7.549c0.405-15.378,3.08-30.424,6.95-45.263c7.945-30.459,21.418-58.304,39.61-83.97c23.971-33.82,54.745-59.82,91.216-79.061c26.746-14.111,55.372-22.696,85.419-26.402c1.488-0.184,2.994-0.08,4.494-0.096c2.138-0.041,4.294,0.181,6.388-0.47c2.543-0.044,5.083-0.012,7.625-0.021c3.516,0,7.03-0.002,10.545,0c1.767,0,3.534-0.001,5.301,0c2.928,0,5.857-0.002,8.784,0c3.134,0.007,6.269-0.015,9.401,0.012c2.108,0.595,4.273,0.475,6.426,0.479c15.803,0.283,31.037,4.101,46.024,8.456c32.011,9.303,60.946,24.79,87.131,45.426c27.729,21.854,49.547,48.613,66.435,79.534c15.021,27.502,24.334,56.808,28.406,87.843c0.586,4.47-0.17,8.991,0.82,13.422c0.002,2.516,0.003,5.027,0.001,7.541c0,2.935,0.002,5.866,0,8.799c0,3.274,0.002,6.547,0,9.819c-0.001,2.922,0.001,5.845,0,8.766c-0.003,2.488,0.005,4.979-0.004,7.465c-0.509,10.144-1.81,20.157-3.758,30.161c-7.916,40.647-25.694,76.576-51.397,108.742c-21.682,27.134-47.514,49.385-78.322,65.704c-11.067,5.862-22.553,10.731-34.211,15.239c-2.66,1.029-5.462,1.423-8.303,1.567c-2.124,0-4.246,0.003-6.368,0c-5.958-0.214-8.878-3.923-10.379-9.149c-1.02-3.55-1.208-7.208-1.204-10.894c0.025-23.165,0.129-46.331-0.031-69.496c-0.094-13.566-3.89-25.928-13.059-36.328c-3.245-3.681-2.317-5.794,3.242-6.633c10.228-1.543,20.456-3.136,30.376-6.054c21.524-6.33,40.658-16.766,55.35-34.146c9.331-11.038,14.71-24.154,18.236-37.999c6.156-24.173,8.736-48.502,2.276-73.109c-3.398-12.945-9.112-24.727-17.877-34.826c-3.584-4.129-4.438-8.031-2.813-13.23c5.805-18.578,3.729-36.856-2.663-54.918c-1.298-3.669-3.418-5.354-7.361-5.294c-9.211,0.139-17.647,3.154-25.99,6.587c-11.286,4.644-21.963,10.46-32.133,17.179c-3.622,2.393-7.096,2.785-11.32,1.641c-14.193-3.846-28.71-5.495-43.392-6.525c-25.19-1.767-49.856,0.828-74.226,7.032c-3.022,0.769-5.559,0.14-8.029-1.526c-11.106-7.487-23-13.462-35.471-18.294c-7.932-3.073-15.913-5.93-24.603-6.097c-3.754-0.072-5.731,1.434-6.918,5.002c-6.254,18.798-8.286,37.712-1.973,56.904c1.285,3.908,0.529,7.056-2.103,10.142c-19.555,22.934-24.635,49.895-22.029,79.057c1.373,15.368,4.419,30.316,10.031,44.706c8.44,21.639,23.471,37.056,43.947,47.817c16.533,8.689,34.165,13.044,52.438,15.475c10.422,1.387,8.781,3.701,3.964,9.301c-5.423,6.305-8.372,14.033-9.749,22.187c-0.86,5.096-3.525,7.883-8.305,9.443c-10.619,3.467-21.52,5.039-32.536,3.678c-13.135-1.623-22.907-9.339-31.027-19.345c-4.518-5.567-7.401-12.347-12.469-17.473c-9.332-9.44-19.662-17.085-33.858-16.838c-1.334,0.023-2.671,0.053-3.961,0.448c-2.657,0.814-3.456,2.444-2.072,4.935c1.663,2.993,4.069,5.331,7.013,6.971c12.586,7.011,19.75,18.549,25.893,30.907c1.627,3.274,3.055,6.664,4.496,10.033c5.883,13.759,16.622,22.083,30.665,25.707c14.755,3.808,29.877,4.806,45.065,2.286c0.658-0.109,1.318-0.203,1.978-0.292c6.243-0.835,7.803,0.408,7.858,6.863c0.112,13.332,0.067,26.665,0.016,39.997c-0.004,1-0.059,2-0.208,2.99c-0.926,6.142-4.684,9.964-10.976,11.175C182.164,506.752,180.003,505.919,178,507z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li class="share-item">
                                    <a class="share-dialog" href="https://twitter.com/intent/tweet?text=Milligram %7C A minimalist CSS framework&amp;amp;url=https://github.com/DomMartinelli" title="Share Milligram on Twitter" target="_blank" rel="noopener">
                                        <svg class="share-icon share-icon-github" version="1.1" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M178,507c-0.333,0-0.667,0-1,0c-37.197-11.254-69.418-30.792-97.304-57.811c-31.738-30.75-54.823-66.874-68.126-109.021c-5.314-16.835-9.474-34.025-9.561-51.888c-0.007-1.35-0.519-2.614-0.495-3.959c-0.002-2.201-0.002-4.397-0.001-6.596c0-2.618-0.002-5.232,0-7.848c0-3.574-0.002-7.146,0-10.718c0.001-2.938-0.001-5.877,0-8.814c0.001-2.516-0.001-5.035,0-7.549c0.405-15.378,3.08-30.424,6.95-45.263c7.945-30.459,21.418-58.304,39.61-83.97c23.971-33.82,54.745-59.82,91.216-79.061c26.746-14.111,55.372-22.696,85.419-26.402c1.488-0.184,2.994-0.08,4.494-0.096c2.138-0.041,4.294,0.181,6.388-0.47c2.543-0.044,5.083-0.012,7.625-0.021c3.516,0,7.03-0.002,10.545,0c1.767,0,3.534-0.001,5.301,0c2.928,0,5.857-0.002,8.784,0c3.134,0.007,6.269-0.015,9.401,0.012c2.108,0.595,4.273,0.475,6.426,0.479c15.803,0.283,31.037,4.101,46.024,8.456c32.011,9.303,60.946,24.79,87.131,45.426c27.729,21.854,49.547,48.613,66.435,79.534c15.021,27.502,24.334,56.808,28.406,87.843c0.586,4.47-0.17,8.991,0.82,13.422c0.002,2.516,0.003,5.027,0.001,7.541c0,2.935,0.002,5.866,0,8.799c0,3.274,0.002,6.547,0,9.819c-0.001,2.922,0.001,5.845,0,8.766c-0.003,2.488,0.005,4.979-0.004,7.465c-0.509,10.144-1.81,20.157-3.758,30.161c-7.916,40.647-25.694,76.576-51.397,108.742c-21.682,27.134-47.514,49.385-78.322,65.704c-11.067,5.862-22.553,10.731-34.211,15.239c-2.66,1.029-5.462,1.423-8.303,1.567c-2.124,0-4.246,0.003-6.368,0c-5.958-0.214-8.878-3.923-10.379-9.149c-1.02-3.55-1.208-7.208-1.204-10.894c0.025-23.165,0.129-46.331-0.031-69.496c-0.094-13.566-3.89-25.928-13.059-36.328c-3.245-3.681-2.317-5.794,3.242-6.633c10.228-1.543,20.456-3.136,30.376-6.054c21.524-6.33,40.658-16.766,55.35-34.146c9.331-11.038,14.71-24.154,18.236-37.999c6.156-24.173,8.736-48.502,2.276-73.109c-3.398-12.945-9.112-24.727-17.877-34.826c-3.584-4.129-4.438-8.031-2.813-13.23c5.805-18.578,3.729-36.856-2.663-54.918c-1.298-3.669-3.418-5.354-7.361-5.294c-9.211,0.139-17.647,3.154-25.99,6.587c-11.286,4.644-21.963,10.46-32.133,17.179c-3.622,2.393-7.096,2.785-11.32,1.641c-14.193-3.846-28.71-5.495-43.392-6.525c-25.19-1.767-49.856,0.828-74.226,7.032c-3.022,0.769-5.559,0.14-8.029-1.526c-11.106-7.487-23-13.462-35.471-18.294c-7.932-3.073-15.913-5.93-24.603-6.097c-3.754-0.072-5.731,1.434-6.918,5.002c-6.254,18.798-8.286,37.712-1.973,56.904c1.285,3.908,0.529,7.056-2.103,10.142c-19.555,22.934-24.635,49.895-22.029,79.057c1.373,15.368,4.419,30.316,10.031,44.706c8.44,21.639,23.471,37.056,43.947,47.817c16.533,8.689,34.165,13.044,52.438,15.475c10.422,1.387,8.781,3.701,3.964,9.301c-5.423,6.305-8.372,14.033-9.749,22.187c-0.86,5.096-3.525,7.883-8.305,9.443c-10.619,3.467-21.52,5.039-32.536,3.678c-13.135-1.623-22.907-9.339-31.027-19.345c-4.518-5.567-7.401-12.347-12.469-17.473c-9.332-9.44-19.662-17.085-33.858-16.838c-1.334,0.023-2.671,0.053-3.961,0.448c-2.657,0.814-3.456,2.444-2.072,4.935c1.663,2.993,4.069,5.331,7.013,6.971c12.586,7.011,19.75,18.549,25.893,30.907c1.627,3.274,3.055,6.664,4.496,10.033c5.883,13.759,16.622,22.083,30.665,25.707c14.755,3.808,29.877,4.806,45.065,2.286c0.658-0.109,1.318-0.203,1.978-0.292c6.243-0.835,7.803,0.408,7.858,6.863c0.112,13.332,0.067,26.665,0.016,39.997c-0.004,1-0.059,2-0.208,2.99c-0.926,6.142-4.684,9.964-10.976,11.175C182.164,506.752,180.003,505.919,178,507z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li class="share-item">
                                    <a class="share-dialog" href="https://www.linkedin.com/shareArticle?mini=true&amp;amp;url=https://github.com/DomMartinelli&amp;amp;title=Milligram | A minimalist CSS framework" title="Share Milligram on LinkedIn" target="_blank" rel="noopener">
                                        <svg class="share-icon share-icon-github" version="1.1" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M178,507c-0.333,0-0.667,0-1,0c-37.197-11.254-69.418-30.792-97.304-57.811c-31.738-30.75-54.823-66.874-68.126-109.021c-5.314-16.835-9.474-34.025-9.561-51.888c-0.007-1.35-0.519-2.614-0.495-3.959c-0.002-2.201-0.002-4.397-0.001-6.596c0-2.618-0.002-5.232,0-7.848c0-3.574-0.002-7.146,0-10.718c0.001-2.938-0.001-5.877,0-8.814c0.001-2.516-0.001-5.035,0-7.549c0.405-15.378,3.08-30.424,6.95-45.263c7.945-30.459,21.418-58.304,39.61-83.97c23.971-33.82,54.745-59.82,91.216-79.061c26.746-14.111,55.372-22.696,85.419-26.402c1.488-0.184,2.994-0.08,4.494-0.096c2.138-0.041,4.294,0.181,6.388-0.47c2.543-0.044,5.083-0.012,7.625-0.021c3.516,0,7.03-0.002,10.545,0c1.767,0,3.534-0.001,5.301,0c2.928,0,5.857-0.002,8.784,0c3.134,0.007,6.269-0.015,9.401,0.012c2.108,0.595,4.273,0.475,6.426,0.479c15.803,0.283,31.037,4.101,46.024,8.456c32.011,9.303,60.946,24.79,87.131,45.426c27.729,21.854,49.547,48.613,66.435,79.534c15.021,27.502,24.334,56.808,28.406,87.843c0.586,4.47-0.17,8.991,0.82,13.422c0.002,2.516,0.003,5.027,0.001,7.541c0,2.935,0.002,5.866,0,8.799c0,3.274,0.002,6.547,0,9.819c-0.001,2.922,0.001,5.845,0,8.766c-0.003,2.488,0.005,4.979-0.004,7.465c-0.509,10.144-1.81,20.157-3.758,30.161c-7.916,40.647-25.694,76.576-51.397,108.742c-21.682,27.134-47.514,49.385-78.322,65.704c-11.067,5.862-22.553,10.731-34.211,15.239c-2.66,1.029-5.462,1.423-8.303,1.567c-2.124,0-4.246,0.003-6.368,0c-5.958-0.214-8.878-3.923-10.379-9.149c-1.02-3.55-1.208-7.208-1.204-10.894c0.025-23.165,0.129-46.331-0.031-69.496c-0.094-13.566-3.89-25.928-13.059-36.328c-3.245-3.681-2.317-5.794,3.242-6.633c10.228-1.543,20.456-3.136,30.376-6.054c21.524-6.33,40.658-16.766,55.35-34.146c9.331-11.038,14.71-24.154,18.236-37.999c6.156-24.173,8.736-48.502,2.276-73.109c-3.398-12.945-9.112-24.727-17.877-34.826c-3.584-4.129-4.438-8.031-2.813-13.23c5.805-18.578,3.729-36.856-2.663-54.918c-1.298-3.669-3.418-5.354-7.361-5.294c-9.211,0.139-17.647,3.154-25.99,6.587c-11.286,4.644-21.963,10.46-32.133,17.179c-3.622,2.393-7.096,2.785-11.32,1.641c-14.193-3.846-28.71-5.495-43.392-6.525c-25.19-1.767-49.856,0.828-74.226,7.032c-3.022,0.769-5.559,0.14-8.029-1.526c-11.106-7.487-23-13.462-35.471-18.294c-7.932-3.073-15.913-5.93-24.603-6.097c-3.754-0.072-5.731,1.434-6.918,5.002c-6.254,18.798-8.286,37.712-1.973,56.904c1.285,3.908,0.529,7.056-2.103,10.142c-19.555,22.934-24.635,49.895-22.029,79.057c1.373,15.368,4.419,30.316,10.031,44.706c8.44,21.639,23.471,37.056,43.947,47.817c16.533,8.689,34.165,13.044,52.438,15.475c10.422,1.387,8.781,3.701,3.964,9.301c-5.423,6.305-8.372,14.033-9.749,22.187c-0.86,5.096-3.525,7.883-8.305,9.443c-10.619,3.467-21.52,5.039-32.536,3.678c-13.135-1.623-22.907-9.339-31.027-19.345c-4.518-5.567-7.401-12.347-12.469-17.473c-9.332-9.44-19.662-17.085-33.858-16.838c-1.334,0.023-2.671,0.053-3.961,0.448c-2.657,0.814-3.456,2.444-2.072,4.935c1.663,2.993,4.069,5.331,7.013,6.971c12.586,7.011,19.75,18.549,25.893,30.907c1.627,3.274,3.055,6.664,4.496,10.033c5.883,13.759,16.622,22.083,30.665,25.707c14.755,3.808,29.877,4.806,45.065,2.286c0.658-0.109,1.318-0.203,1.978-0.292c6.243-0.835,7.803,0.408,7.858,6.863c0.112,13.332,0.067,26.665,0.016,39.997c-0.004,1-0.059,2-0.208,2.99c-0.926,6.142-4.684,9.964-10.976,11.175C182.164,506.752,180.003,505.919,178,507z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <p>Licensed under the
                            <a href="https://opensource.org/licenses/MIT" class="License_MIT" title="MIT License" target="_blank"> MIT License.</a>
                        </p>
                    </section>
                </footer>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/globalScripts.js"></script>


</body>

</html>